<!DOCTYPE html>
<html>
<head>
  <title>My Explanation App</title>
  <link rel=“stylesheet” href=“” type=“text/css” />
</head>
<body>

<%=yield%>


<h4>
  <u>RESTful Design</u><br>
  Index - GET /items <br>
  <b>Show - GET /items/id</b><br>
  Edit - GET /items/id/edit<br>
  Update - PUT<br>
  New - GET /items/new<br>
  Create - POST<br>
  Destroy - DELETE<br>
</h4>

</body>
</html>